build/
*.ipr
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
forge/run/*
fabric/run/*

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

run/*

!run/addonpacks
run/addonpacks/*
!run/addonpacks/Test Pack

!run/mods
run/mods/*
!run/mods/documentation
