# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
/run/*
!/run/palladium/
/run/palladium/documentation/
!/run/palladium/addonpacks/
!/run/palladium/addonpacks/example_pack/


repo