# Pack(s)
public-f net.minecraft.server.packs.repository.Pack location # location
public-f net.minecraft.server.packs.repository.Pack selectionConfig # selectionConfig
public net.minecraft.server.packs.repository.PackSource decorateWithSource(Ljava/lang/String;)Ljava/util/function/UnaryOperator; # decorateWithSource
public net.minecraft.server.packs.repository.BuiltInPackSource packType # packType

# ReloadableResourceManager
public-f net.minecraft.server.packs.resources.ReloadableResourceManager listeners # listeners

# GameRenderer
public net.minecraft.client.renderer.GameRenderer bobHurt(Lcom/mojang/blaze3d/vertex/PoseStack;F)V # bobHurt
public net.minecraft.client.renderer.GameRenderer bobView(Lcom/mojang/blaze3d/vertex/PoseStack;F)V # bobView

# Screen
public net.minecraft.client.gui.screens.Screen addRenderableWidget(Lnet/minecraft/client/gui/components/events/GuiEventListener;)Lnet/minecraft/client/gui/components/events/GuiEventListener; # addRenderableWidget
public net.minecraft.client.gui.screens.Screen removeWidget(Lnet/minecraft/client/gui/components/events/GuiEventListener;)V # removeWidget
public net.minecraft.client.gui.screens.Screen defaultHandleGameClickEvent(Lnet/minecraft/network/chat/ClickEvent;Lnet/minecraft/client/Minecraft;Lnet/minecraft/client/gui/screens/Screen;)V # defaultHandleGameClickEvent

# CreativeModeInventoryScreen
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen selectedTab # selectedTab

# GuiGraphics
public net.minecraft.client.gui.GuiGraphics guiRenderState # guiRenderState
public net.minecraft.client.gui.GuiGraphics scissorStack # scissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack peek()Lnet/minecraft/client/gui/navigation/ScreenRectangle; # peek
public net.minecraft.client.gui.GuiGraphics$RenderingTextCollector

# StringWidget
public net.minecraft.client.gui.components.StringWidget maxWidth # maxWidth
public net.minecraft.client.gui.components.StringWidget textOverflow # textOverflow

# AbstractSelectionList
public net.minecraft.client.gui.components.AbstractSelectionList$Entry

# EntityRenderDispatcher
public net.minecraft.client.renderer.entity.EntityRenderDispatcher equipmentAssets # equipmentAssets

# LivingEntityRenderer
public net.minecraft.client.renderer.entity.LivingEntityRenderer solveBodyRot(Lnet/minecraft/world/entity/LivingEntity;FF)F # solveBodyRot

# EntityModelSet
public-f net.minecraft.client.model.geom.EntityModelSet roots # roots

# ModelPart
public net.minecraft.client.model.geom.ModelPart$Polygon vertices()[Lnet/minecraft/client/model/geom/ModelPart$Vertex; # vertices
public net.minecraft.client.model.geom.ModelPart$Polygon normal()Lorg/joml/Vector3f; # normal
public net.minecraft.client.model.geom.ModelPart$Vertex pos()Lorg/joml/Vector3f; # pos
public net.minecraft.client.model.geom.ModelPart$Polygon equals(Ljava/lang/Object;)Z # equals
public net.minecraft.client.model.geom.ModelPart$Polygon vertices()[Lnet/minecraft/client/model/geom/ModelPart$Vertex; # vertices
public net.minecraft.client.model.geom.ModelPart children # children

# CubeListBuilder
public net.minecraft.client.model.geom.builders.CubeListBuilder cubes # cubes

# CubeDefinition
public-f net.minecraft.client.model.geom.builders.CubeDefinition
public net.minecraft.client.model.geom.builders.CubeDefinition comment # comment
public net.minecraft.client.model.geom.builders.CubeDefinition origin # origin
public net.minecraft.client.model.geom.builders.CubeDefinition dimensions # dimensions
public net.minecraft.client.model.geom.builders.CubeDefinition grow # grow
public net.minecraft.client.model.geom.builders.CubeDefinition mirror # mirror
public net.minecraft.client.model.geom.builders.CubeDefinition texCoord # texCoord
public net.minecraft.client.model.geom.builders.CubeDefinition texScale # texScale

# CubeDeformation
public net.minecraft.client.model.geom.builders.CubeDeformation growX # growX
public net.minecraft.client.model.geom.builders.CubeDeformation growY # growY
public net.minecraft.client.model.geom.builders.CubeDeformation growZ # growZ

# TextureManager
public net.minecraft.client.renderer.texture.TextureManager byPath # byPath

# PlayerCapeModel
public net.minecraft.client.model.PlayerCapeModel cape # cape

# PlayerRenderer
public net.minecraft.client.renderer.entity.player.AvatarRenderer setupRotations(Lnet/minecraft/client/renderer/entity/state/AvatarRenderState;Lcom/mojang/blaze3d/vertex/PoseStack;FF)V # setupRotations
public net.minecraft.client.renderer.entity.player.AvatarRenderer scale(Lnet/minecraft/client/renderer/entity/state/AvatarRenderState;Lcom/mojang/blaze3d/vertex/PoseStack;)V # scale

# Item
public net.minecraft.world.item.Item$Properties components # components

# BlockBehaviour
public-f net.minecraft.world.level.block.state.BlockBehaviour$Properties CODEC # CODEC

# Entity
public net.minecraft.world.entity.Entity isInRain()Z # isInRain

# LivingEntity
public net.minecraft.world.entity.LivingEntity getJumpPower(F)F # getJumpPower

# PackMetadataSection
public net.minecraft.server.packs.metadata.pack.PackMetadataSection codecForPackType(Lnet/minecraft/server/packs/PackType;)Lcom/mojang/serialization/Codec; # codecForPackType