# Item
public net.minecraft.world.item.Item$Properties components # components

# BlockBehaviour
public-f net.minecraft.world.level.block.state.BlockBehaviour$Properties CODEC # CODEC

# Entity
public net.minecraft.world.entity.Entity isInRain()Z # isInRain

# ArmorSlot
public net.minecraft.world.inventory.ArmorSlot
public net.minecraft.world.inventory.ArmorSlot owner # owner
public net.minecraft.world.inventory.ArmorSlot slot # slot
public net.minecraft.world.inventory.ArmorSlot emptyIcon # emptyIcon

# ReloadableResourceManager
public-f net.minecraft.server.packs.resources.ReloadableResourceManager listeners # listeners

# TextureManager
public net.minecraft.client.renderer.texture.TextureManager byPath # byPath

# ServerboundCustomPayloadPacket
public net.minecraft.network.protocol.common.ServerboundCustomPayloadPacket MAX_PAYLOAD_SIZE # MAX_PAYLOAD_SIZE

# Pack(s)
public-f net.minecraft.server.packs.repository.Pack location # location
public-f net.minecraft.server.packs.repository.Pack selectionConfig # selectionConfig
public net.minecraft.server.packs.repository.PackSource decorateWithSource(Ljava/lang/String;)Ljava/util/function/UnaryOperator; # decorateWithSource
public net.minecraft.server.packs.repository.BuiltInPackSource packType # packType

# RenderType
public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;ILcom/mojang/blaze3d/pipeline/RenderPipeline;Lnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType; # create
public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;IZZLcom/mojang/blaze3d/pipeline/RenderPipeline;Lnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType; # create
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder setTextureState(Lnet/minecraft/client/renderer/RenderStateShard$EmptyTextureStateShard;)Lnet/minecraft/client/renderer/RenderType$CompositeState$CompositeStateBuilder; # setTextureState
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder createCompositeState(Z)Lnet/minecraft/client/renderer/RenderType$CompositeState; # createCompositeState

# RenderPipelines
public net.minecraft.client.renderer.RenderPipelines ENTITY_SNIPPET # ENTITY_SNIPPET

# GameRenderer
public net.minecraft.client.renderer.GameRenderer setPostEffect(Lnet/minecraft/resources/ResourceLocation;)V # setPostEffect

# LevelRenderer
public net.minecraft.client.renderer.LevelRenderer shouldShowEntityOutlines()Z # shouldShowEntityOutlines

# EntityRenderDispatcher
public net.minecraft.client.renderer.entity.EntityRenderDispatcher equipmentAssets # equipmentAssets

# EntityRenderer
public-f net.minecraft.client.renderer.entity.EntityRenderer reusedState # reusedState

# PlayerRenderer
public net.minecraft.client.renderer.entity.player.PlayerRenderer setupRotations(Lnet/minecraft/client/renderer/entity/state/PlayerRenderState;Lcom/mojang/blaze3d/vertex/PoseStack;FF)V # setupRotations
public net.minecraft.client.renderer.entity.player.PlayerRenderer scale(Lnet/minecraft/client/renderer/entity/state/PlayerRenderState;Lcom/mojang/blaze3d/vertex/PoseStack;)V # scale

# PlayerCapeModel
public net.minecraft.client.model.PlayerCapeModel cape # cape

# EntityModelSet
public-f net.minecraft.client.model.geom.EntityModelSet roots # roots

# ModelPart
public net.minecraft.client.model.geom.ModelPart$Polygon vertices()[Lnet/minecraft/client/model/geom/ModelPart$Vertex; # vertices
public net.minecraft.client.model.geom.ModelPart$Polygon normal()Lorg/joml/Vector3f; # normal
public net.minecraft.client.model.geom.ModelPart$Vertex pos()Lorg/joml/Vector3f; # pos
public net.minecraft.client.model.geom.ModelPart$Polygon equals(Ljava/lang/Object;)Z # equals
public net.minecraft.client.model.geom.ModelPart$Polygon vertices()[Lnet/minecraft/client/model/geom/ModelPart$Vertex; # vertices
public net.minecraft.client.model.geom.ModelPart children # children

# CubeListBuilder
public net.minecraft.client.model.geom.builders.CubeListBuilder cubes # cubes

# CubeDefinition
public-f net.minecraft.client.model.geom.builders.CubeDefinition
public net.minecraft.client.model.geom.builders.CubeDefinition comment # comment
public net.minecraft.client.model.geom.builders.CubeDefinition origin # origin
public net.minecraft.client.model.geom.builders.CubeDefinition dimensions # dimensions
public net.minecraft.client.model.geom.builders.CubeDefinition grow # grow
public net.minecraft.client.model.geom.builders.CubeDefinition mirror # mirror
public net.minecraft.client.model.geom.builders.CubeDefinition texCoord # texCoord
public net.minecraft.client.model.geom.builders.CubeDefinition texScale # texScale

# CubeDeformation
public net.minecraft.client.model.geom.builders.CubeDeformation growX # growX
public net.minecraft.client.model.geom.builders.CubeDeformation growY # growY
public net.minecraft.client.model.geom.builders.CubeDeformation growZ # growZ

# ChunkMap
public net.minecraft.server.level.ChunkMap$TrackedEntity
public net.minecraft.server.level.ChunkMap entityMap # entityMap
public net.minecraft.server.level.ChunkMap$TrackedEntity seenBy # seenBy

# AbstractSelectionList
public net.minecraft.client.gui.components.AbstractSelectionList$Entry

# AbstractContainerScreen
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen leftPos # leftPos
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen topPos # topPos

# Screen
public net.minecraft.client.gui.screens.Screen addWidget(Lnet/minecraft/client/gui/components/events/GuiEventListener;)Lnet/minecraft/client/gui/components/events/GuiEventListener; # addWidget

# CreativeModeInventoryScreen
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen selectedTab # selectedTab

# CreativeModeTabs
public net.minecraft.world.item.CreativeModeTabs INVENTORY # INVENTORY
public net.minecraft.world.item.CreativeModeTabs BUILDING_BLOCKS # BUILDING_BLOCKS

# GuiGraphics
public net.minecraft.client.gui.GuiGraphics guiRenderState # guiRenderState
public net.minecraft.client.gui.GuiGraphics scissorStack # scissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack peek()Lnet/minecraft/client/gui/navigation/ScreenRectangle; # peek

# PictureInPictureRenderer
public net.minecraft.client.gui.render.pip.PictureInPictureRenderer textureView # textureView

# CreativeModeTabs
public net.minecraft.world.item.CreativeModeTabs INVENTORY # INVENTORY
public net.minecraft.world.item.CreativeModeTabs BUILDING_BLOCKS # BUILDING_BLOCKS
public net.minecraft.world.item.CreativeModeTabs COLORED_BLOCKS # COLORED_BLOCKS
public net.minecraft.world.item.CreativeModeTabs NATURAL_BLOCKS # NATURAL_BLOCKS
public net.minecraft.world.item.CreativeModeTabs FUNCTIONAL_BLOCKS # FUNCTIONAL_BLOCKS
public net.minecraft.world.item.CreativeModeTabs REDSTONE_BLOCKS # REDSTONE_BLOCKS
public net.minecraft.world.item.CreativeModeTabs HOTBAR # HOTBAR
public net.minecraft.world.item.CreativeModeTabs SEARCH # SEARCH
public net.minecraft.world.item.CreativeModeTabs TOOLS_AND_UTILITIES # TOOLS_AND_UTILITIES
public net.minecraft.world.item.CreativeModeTabs COMBAT # COMBAT
public net.minecraft.world.item.CreativeModeTabs FOOD_AND_DRINKS # FOOD_AND_DRINKS
public net.minecraft.world.item.CreativeModeTabs INGREDIENTS # INGREDIENTS
public net.minecraft.world.item.CreativeModeTabs SPAWN_EGGS # SPAWN_EGGS
public net.minecraft.world.item.CreativeModeTabs OP_BLOCKS # OP_BLOCKS
public net.minecraft.world.item.CreativeModeTabs INVENTORY # INVENTORY